

.button {
    margin: 0 auto;
    padding: 10px;
    transition: all 250ms;
    cursor: pointer;
    background-color: rgb(198, 249, 249);
    border: transparent;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: aliceblue;
    padding: 10px;
}

.label {
    display: flex;
    flex-direction: column;
}